* {
  box-sizing: border-box;
}

body {
  color: #202020;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 50vw;
}

label {
  padding: 1rem 0.75rem;
}

textarea {
  border: 0.125rem solid #e0e0e0;
  color: inherit;
  display: block;
  font-family: Menlo;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.75rem;
  resize: none;
}

textarea:focus {
  outline: 0;
}

#path,
#url {
  border-color: #4080ff;
}

#path:focus,
#url:focus {
  box-shadow: 0 0 0.5rem rgb(64, 128, 255, 0.5);
}

#_1,
#_2,
#parameters {
  flex: 1;
}
