* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
}

textarea {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  border: 0.125rem solid rgba(0, 0, 0, 0.25);
  color: #000;
  display: block;
  font-family: "SF Mono";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  padding: 1rem;
  resize: none;
}

textarea:focus {
  outline: 0;
}

#_1,
#_5 {
  border-color: rgba(0, 0, 0, 0.75);
}

#_1:focus,
#_5:focus {
  border-color: rgba(0, 0, 255, 0.75);
}

#_3,
#_4,
#_6 {
  flex: 1;
}
